*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
input[type="file"]{
    display: none;
}

input[type=submit]{
    display: none
}

label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}
.container h4{
    position: absolute;
    padding-top: 100px;
    font-family: 'Poppins', sans- serif;
    font-size: 20px;
    animation: drop 1.5s ease;
    text-align: center;
    justify-content: center;
}

.container h2{
    padding-top: 10px;
    font-family: 'Poppins', sans- serif;
    font-size: 60px;
    font-weight: bold;
    animation: drop 1.7s ease;
    color: #f5af09;
    filter: drop-shadow(0px 3px 3px black);
}
.btn{
    margin-top: 7vh;
    width: 150px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ffbd69;
    background: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    transition: 0.8s;
}
.btn1{
    color: #ffbd69;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffbd69;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover{
    color: #b21f66;
}

.btn1:hover:before{
    height: 180%;
}

@keyframes drop {
    0%{
        opacity: 0%;
        transform: translateY(-80px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}
