<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BudayaKB</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>
<body bgcolor="#fe346e" text="#fbfbff">
    <nav>
        <a href="/">
            <div class="logo">
                <h4>Budaya KB</h4>
            </div>
        </a>
        <ul class="nav-links">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Impor/Ekspor</a>
            <div class="dropdown-content">
                <a href="/imporBudaya">Impor Budaya</a>
                <a href="/eksporBudaya">Ekspor Budaya</a>
         </div>
        </li>
         <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Sunting</a>
            <div class="dropdown-content">
                <a href="/tambahBudaya">Tambah</a>
                <a href="/ubahBudaya">Ubah</a>
                <a href="/hapusBudaya">Hapus</a>
            </div>
        </li>
            <li><a href="/cariBudaya">Cari</a></li>
                <li><a href="/statsBudaya">Statistik</a></li>
</ul>
    </nav>
</body>
</html>