<html>
<head>
	<title>BudayaKB Lite</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body bgcolor="#b21f66" text="white">
    <header>
        {% include 'includes/_navbar.html' %}
    </header>
    <main>
        <section class="presentation">
            <div class="introduction">
                 <div class="intro-text">
                     <h1>BudayaKB Lite V2.0</h1>
                     <p>Sistem Manajamen Knowledge Base Budaya Indonesia</p>
                 </div>
                 <div class="cta">
                     <a href="/getStarted"><button class="btn btn1">Get Started</button></a>
                 </div>
            </div>
            <div class="cover">
                <img src="../static/img/kb.png" alt="kblogo">
            </div>
        </section>
    </main>

</body>
</html>
