<html>
<head>
    <title>BudayaKB Lite</title>
    <link rel="stylesheet" href="../static/css/Tambah.css"
</head>

<body>
	 {% include 'includes/_navbar.html' %}
    <div class="Tambah">
        <h2>Kriteria Pencarian Statistik Data Budaya</h2>
        <br><br><br>
        <form method="POST", action="">
            <select name="StatType">
                <option value="SemuaBudaya">All</option>
                <option value="TipeBudaya">Tipe Budaya</option>
                <option value="ProvinsiBudaya">Asal Provinsi Budaya</option>
            </select>
        <br><br><br><br><br>
        <p>
            <input type="submit" value="Tampilkan">
        </p>
        </form>
    </div>

</body>
</html>