<html>
<head>
    <title>BudayaKB Lite</title>
    <link rel="stylesheet" href="../static/css/Table.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="container">
     {% include 'includes/_navbar.html' %}
     <h2>Hasil Pencarian</h2>
     {% if length is defined %}
            <h4>Budaya KB memiliki total {{ length }} budaya</h4>
     {% endif %}

        {% if result is undefined and msg is defined %}
        <h4> {{ msg }} </h4>
        {% endif %}
</body>
</html>